.my-visualization-class {
  
  div {
    display: inline;
    margin: 10px;
  }
  
  li {
    color: #888;
    display: inline-block;
    font-size: 9px;
    padding: 0;
    margin: 3px;
    width: 18px;
  }
  
  li:hover {
    color: #242;
    background: #dfd;
  }
  
  section {
    display: flex;
    height: 300px; 
    width: 900px;
  }
  
  text {
    text-anchor: middle;
    font-size: 8px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .click {
    stroke: #dfd;
    fill: #cfe;
    stroke-width: 3px;
  }
  
  .state {
    fill: #bfd;
    stroke: #242;
  }
  
  .label {
    opacity: 0;
  }
  
  li.falsehover {
    color: #242;
    background: #dfd;
  }
  
  li.highlight {
    background: #bff;
  }
  
  .state.highlight {
    stroke: #242;
    fill: #bff;  
  }
  
  .state.falsehover {
    fill: #dfd;
  }
  
  .state.falsehover .label {
    opacity: 1;
  }
  
  .state:hover {
    fill: #dfd;
  }
  
  .state:hover .label {
    opacity: 1;
  }
  
  #map {
    border: 1px solid #888;
    width: 450px;
    height: 300px;
  }
  
  #lookup {
    width: 90px;
    height: 300px;
    padding: 0;
  }

}

